<section class="first">
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <b>Perfil de Usuario:</b>
        <div class="row" *ngIf="user">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nombre:</label> <input class="form-control" type="text" [(ngModel)]="user.name" placeholder="Nombre" required>
            </div>
            <div class="form-group">
            <label>  Apellido 1: </label><input class="form-control" type="text" [(ngModel)]="user.ape_1" placeholder="Primer apellido" required>
            </div>
            <div class="form-group">
            <label>  Apellido 2:</label> <input class="form-control" type="text" [(ngModel)]="user.ape_2" placeholder="Segundo apellido" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <label>
              Email:</label>  <input class="form-control" type="text" [(ngModel)]="user.eml" placeholder="Correo Electrónico" required>
            </div>
            <div class="form-group">
            <label>
              Teléfono:</label>  <input class="form-control" type="text" [(ngModel)]="user.tlf" placeholder="Teléfono" required>
            </div>
            <div class="form-group">
            <label>
              NIF:</label>  <input class="form-control" type="text" [(ngModel)]="user.cif" placeholder="NIF" required>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Dirección:</label>  <input class="form-control" type="text" [(ngModel)]="user.dir" placeholder="Dirección">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Localidad:</label>  <input class="form-control" type="text" [(ngModel)]="user.loc" placeholder="Localidad">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Código Postal:</label>  <input class="form-control" type="text" [(ngModel)]="user.cps" placeholder="Código Postal">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="user.passChange" placeholder="Cambio de contraseña" style="margin-right: 10px">
              <label> Deseo cambiar la contraseña</label>
            </div>
          </div>
          <div class="col-md-12" *ngIf="user.passChange">
            <div class="col-md-4">
              <div class="form-group">
                <label>Contraseña actual</label>  <input class="form-control" type="text" [(ngModel)]="user.pass" placeholder="Contraseña">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Contraseña Nueva:</label>  <input class="form-control" type="text" [(ngModel)]="user.pass1" placeholder="Contraseña">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Repite contraseña</label>  <input class="form-control" type="text" [(ngModel)]="user.pass2" placeholder="Contraseña">
              </div>
            </div>
            <div class="col-md-4" *ngIf="user.badPass">Las contraseñano es correcta</div>
            <div class="col-md-8" *ngIf="user.wrgPass">Las contraseñas no coinciden</div>
          </div>
        </div>


        <div class="form-group text-right">
          <button class="btn btn-primary btn-block"  (click)="guardar()"  type="submit">Guardar</button>
        </div>
      </div>
      <div class="col-md-2">
      </div>
  </div>
 </div>
</div>
</section>
