<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-md-12">
    <div style="text-align:center">
      <h1>
        Bienvenido a la Revista Tiempo de Paz
      </h1>
      <img width="300" alt="Angular Logo" src="../assets/image/tdp.png">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
      <app-usermenu></app-usermenu>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
   <nav id="nav">
    <ul class="nav">
      <li class="nav"><a [routerLink]="['']">Inicio</a></li>

      <li class="nav"><a [routerLink]="['revistas']">Revista</a></li>

      <li class="nav"><a [routerLink]="['etiqueta']">Buscar etiqueta</a></li>

      <li class="nav"><a [routerLink]="['buscar']">Buscar palabras</a></li>

      <li class="nav"><a [routerLink]="['login']">Login</a></li>

      <li class="nav"><a [routerLink]="['perfil']">Perfil</a></li>

    </ul>
   </nav>
 </div>
   <div class="col-md-2">
   </div>
</div>



<!-- <h2>Aqui tienes unos enlaces para probar la navegación: </h2>
<ul>
  <li>
    <h2><a target="" rel="noopener" href="#">Aqui ponemos listado de revista</a></h2>
  </li>
  <li>
    <h2><a target="" rel="noopener" href="#">Aqui pondremos usuarios</a></h2>
  </li>
</ul> -->
<section class="main">
	<router-outlet></router-outlet>
	<div class="clearfix"></div>
</section>
