<!-- <section class="home">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
			<nav id="nav">
		 	<ul class="nav">
			 <li class="nav"><a [routerLink]="['']">Inicio</a></li>

			 <li class="nav"><a [routerLink]="['revistas']">Revista</a></li>

			 <li class="nav"><a [routerLink]="['etiqueta']">Buscar etiqueta</a></li>

			 <li class="nav"><a [routerLink]="['buscar']">Buscar palabras</a></li>

			 <li class="nav"><a [routerLink]="['login']">Login</a></li>

			 <li class="nav"><a [routerLink]="['perfil']">Perfil</a></li>
		 </ul>
		</nav>
	</div>
	</div>
</div>
</section> -->
<app-nav></app-nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
