		<section class="search">
			<div class="container">
				<div class="row">
					<div class="col-md-3" style="padding-top:160px;">
						<aside>
							<h2 class="aside-title">Busqueda por palabras</h2>
							<div class="aside-body">
								<p>Busque con otras palabras clave o use filtros para obtener resultados más precisos.</p>
								<form>
									<div class="form-group">
										<div class="input-group">
											<input type="text" name="q" class="form-control" [(ngModel)]="palabras" placeholder="Rellena tu busqueda.">
											<div class="input-group-btn">
												<button class="btn btn-primary" (click)="OcBuscaPalabras()">
													<i class="ion-search"></i>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</aside>
						<aside>
							<h2 class="aside-title">Filtros</h2>
							<div class="aside-body">

								<form class="checkbox-group">
									<!-- <div class="group-title">Date</div>
									<div class="form-group">
										<label><input type="radio" name="date" checked> Anytime</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Today</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Last Week</label>
									</div>
									<div class="form-group">
										<label><input type="radio" name="date"> Last Month</label>
									</div>
									<br> -->
									<div class="group-title">Etiquetas</div>
									<app-etiqueta></app-etiqueta>
								</form>
							</div>
						</aside>
					</div>
					<div class="col-md-9">
						<div class="nav-tabs-group">
							<ul class="nav-tabs-list">
								<li class="active"><a href="#">All</a></li>
								<li><a href="#">Latest</a></li>
								<li><a href="#">Popular</a></li>
								<li><a href="#">Trending</a></li>
								<li><a href="#">Videos</a></li>
							</ul>
							<div class="nav-tabs-right">
								<select class="form-control">
									<option>Limit</option>
									<option>10</option>
									<option>20</option>
									<option>50</option>
									<option>100</option>
								</select>
							</div>
						</div>
						<div class="search-result">
							  Articulos encontrados:
						</div>
						<div class="row">
							<article *ngFor="let articulo of listaArticulos.art_r_m" class="col-md-12 article-list">
		            <div class="inner">
		              <figure>
		                <a href="single.html">
		                  <img src="../../assets/images/news/img01.jpg">
		                </a>
		              </figure>
		              <div class="details">
		                <div class="detail">
		                  <div class="category">
		                   <a href="category.html">{{articulo.rev_num}}</a>
		                  </div>
		                  <div class="time">{{articulo.rev.tem}}</div>
		                </div>
		                <h1><a [routerLink]="['/articulo', articulo.id]">{{ articulo.name }}</a></h1>
		                <p>
		                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		                  quis nostrud exercitat...
		                </p>
		                <footer>
		                  <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>237</div></a>
		                  <a class="btn btn-primary more" [routerLink]="['/articulo', articulo.id]">
		                    <div>More</div>
		                    <div><i class="ion-ios-arrow-thin-right"></i></div>
		                  </a>
		                </footer>
		              </div>
		            </div>
		          </article>
		          <!-- <div class="col-md-12 text-center">
		            <ul class="pagination">
		              <li class="prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
		              <li class="active"><a href="#">1</a></li>
		              <li><a href="#">2</a></li>
		              <li><a href="#">3</a></li>
		              <li><a href="#">...</a></li>
		              <li><a href="#">97</a></li>
		              <li class="next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
		            </ul>
		            <div class="pagination-help-text">
		            	Showing 8 results of 776 &mdash; Page 1
		            </div>
		          </div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
