<!-- <form [formGroup]="aFormGroup"> 
  <div class="row featurette">
      <div class="col-md-5">
          <h4></h4>
          <ngx-recaptcha2 #captchaElem
                          (expire)="handleExpire()"
                          (load)="handleLoad()"
                          (success)="handleSuccess($event)"
                          [size]="size"
                          [hl]="lang"
                          [type]="type"
                          formControlName="recaptcha">
          </ngx-recaptcha2>
  <button class="btn btn-info" (click)="getResponse()">Enviar</button>

      </div>
  </div>
</form>
